{% extends 'base.html.twig' %}

{% block body %}

    <!-- <section class="section"> <div class="container"> <h1 class="title"> CTS SYS Ltd. </h1> <p class="subtitle"> En contrucción </p> </div> </section> -->

    <section class="hero is-info is-medium is-bold">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="../">
                            <img src="img/logo.png" alt="Logo">
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <a class="navbar-item is-active">
                                Home
                            </a>
                            <!-- <a class="navbar-item"> Examples </a> -->
                            <a class="navbar-item">
                                Contact
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    CTS SYS Ltd.

                </h1>
                <h2 class="subtitle">
                    Como líder en el desarrollo de tecnologías de UAS (Unmanned Aerial System; sistema aéreo no tripulado). CTS se ha fortalecido intercambiando junto a universidades nacionales e internacionales para potenciarse. Nuestra empresa con sus asociados está llevando la tecnología a nuevos niveles.
                </h2>
            </div>
        </div>

    </section>

    <section class="container">
        <div class="columns">
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="images/pic02.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left"></div>
                            <div class="mdia-content">
                                <p class="title is-4">Collaboration</p>
                                <p class="subtitle is-6">@admin</p>
                            </div>
                        </div>

                        <div class="content">
                            During the month of March, the agreement with Imperial College of London and Imperial Innovations is start .
                            <br>
                            <time datetime="2016-1-1">11:09 PM - 1 Apr 2017</time>
                        </div>
                    </div>
                </div>

            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="images/pic03.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left"></div>
                            <div class="media-content">
                                <p class="title is-4">Wireless Charge</p>
                                <p class="subtitle is-6">@admin</p>
                            </div>
                        </div>

                        <div class="content">
                            The Wireless Power Lab is dedicated to research in the areas of inductive power transfer and energy harvesting.
                            <br>
                            <time datetime="2016-1-1">13:12 PM - 12 May 2017</time>
                        </div>
                    </div>
                </div>

            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="images/pic04.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left"></div>
                            <div class="media-content">
                                <p class="title is-4">Tecnology</p>
                                <p class="subtitle is-6">@admin</p>
                            </div>
                        </div>

                        <div class="content">
                            The Wireless Power Lab at Imperial College London is a world leading research group in the field of mid-range wireless power transfer using highly efficient, high frequency power electronics.
                            <br>
                            <time datetime="2016-1-1">10:14 PM - 10 Jan 2018</time>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <strong>CTS SYS Ltd.
                    </strong>2018&#169;
                </p>
            </div>
        </div>
    </footer>

{% endblock %}